<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>echo "&lt;meta http-equiv=\"refresh\" content=\"0;URL=http://www.lslwiki.net/lslwiki/wakka.php?wakka=$TM_CURRENT_WORD\"&gt;"</string>
	<key>fallbackInput</key>
	<string>none</string>
	<key>input</key>
	<string>selection</string>
	<key>keyEquivalent</key>
	<string>^h</string>
	<key>name</key>
	<string>current word in wiki</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>scope</key>
	<string>source.esl, source.lsl</string>
	<key>uuid</key>
	<string>B7C36F53-D8C6-460D-80CD-59962EE0F5C1</string>
</dict>
</plist>
